{% extends "components/_base.html" %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/animation.css') }}">

<style>
    /* For Correct/False overlay */
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.4);
        display: flex;
        align-items: center;
        justify-content: center;
        visibility: hidden;
        /* Start mit unsichtbarem Overlay */
        transition: visibility 0.4s ease;
        /* Füge einen sanften Übergang für die Sichtbarkeit hinzu */
    }

    .overlay i {
        font-size: 5rem;
    }
</style>
{% endblock %}


{% block content %}


<!-- HTML-Code für die Symbole -->
<div id="correct-overlay" class="overlay">
    <i class="bi bi-check-circle-fill" style="color: green;"></i>
</div>

<div id="incorrect-overlay" class="overlay">
    <i class="bi bi-x-circle-fill" style="color: red"></i>
</div>


<br>
<br>

<h1 class="mb-4">Areas</h1>

<div class="col-10 mx-auto">
    <div class="row">
        <div class="col-6 text-center">
            <h3 id="country1-name"></h3>
        </div>

        <div class="col-6 text-center">
            <h2 id="country2-name"></h2>
        </div>


    </div>

    <div class="row">

        <div class="col-6 text-center">
            <h3 id="country1-name"></h3>
            <img id="image1" src="" alt="flag of country" class="img-fluid zoom"
                style="max-width: 55%; max-height: 55%">
            <p class="mt-4">Area: <span id="country1-area"></span> km&sup2;</p>
        </div>

        <div class="col-6 text-center">
            <h2 id="country2-name"></h2>
            <img id="image2" src="" alt="flag of country" class="img-fluid zoom"
                style="max-width: 55%; max-height: 55%">
        </div>



    </div>

    <br>

    <div class="text-center">
        <p>Is the area of the right country higher or lower?</p>

        <button id="lower-button" type="button" class="btn btn-outline-danger mx-5">Lower <i
                class="bi bi-chevron-double-down ms-1"></i></button>
        <button id="higher-button" type="button" class="btn btn-outline-success mx-5">Higher <i
                class="bi bi-chevron-double-up ms-1"></i></button>

    </div>


</div>

<script>
    // TODO: Display score and update it
    // TODO: Keep track of highscore via Cookie, display it and update it
    let score = 0

    let country1 = {}
    let country2 = {}

    // DOM-Elemente initialisieren
    const country1_name = document.getElementById("country1-name");
    const country2_name = document.getElementById("country2-name");
    const image1 = document.getElementById("image1");
    const image2 = document.getElementById("image2");
    const country1_area = document.getElementById("country1-area");


    const lowerButton = document.getElementById("lower-button")
    const higherButton = document.getElementById("higher-button")

    lowerButton.addEventListener("click", lowerButtonClickHandler)
    higherButton.addEventListener("click", higherButtonClickHandler)

    function lowerButtonClickHandler() {
        checkAnswer("lower");
    }

    function higherButtonClickHandler() {
        checkAnswer("higher");
    }


    function checkAnswer(userChoice) {
        let isCorrect = false

        if (userChoice === "lower") {
            isCorrect = parseFloat(country2["area"]) <= parseFloat(country1["area"])
        } else if (userChoice === "higher") {
            isCorrect = parseFloat(country2["area"]) >= parseFloat(country1["area"])
        }

        // Aktualisiere die Anzeige mit den neuen Länderdaten
        updateDisplay()

        // Zeige eine Benachrichtigung basierend auf der Korrektheit der Antwort an
        if (isCorrect) {
            ++score
            showOverlay("correct-overlay")
        } else {
            showOverlay("incorrect-overlay")
            // Hier könntest du weitere Aktionen implementieren, wie das Zurücksetzen des Spiels.
            score = 0
        }
    }

    function updateDisplay() {
        // TODO: Fetch first the new country and then insert the insert the new countries
        // Alte Länder durch neue ersetzen
        country1 = country2

        getNewCountry().then(data => {
            country2 = data.country

            // Aktualisiere die Anzeige mit den Daten des neuen Landes
            country1_name.innerText = country1["name.common"]
            country2_name.innerHTML = country2["name.common"]

            let image1_url = "/static/worldle/data/" + country1["cca3"].toLowerCase() + ".svg"
            let image2_url = "/static/worldle/data/" + country2["cca3"].toLowerCase() + ".svg"

            image1.src = image1_url
            image2.src = image2_url

            country1_area.innerText = country1["area"]

            // Entferne vorhandene Event-Listener
            lowerButton.removeEventListener("click", lowerButtonClickHandler);
            higherButton.removeEventListener("click", higherButtonClickHandler);

            // Füge neue Event-Listener hinzu
            lowerButton.addEventListener("click", lowerButtonClickHandler);
            higherButton.addEventListener("click", higherButtonClickHandler);
        })
    }

    function showOverlay(id) {
        const overlay = document.getElementById(id)
        overlay.style.visibility = "visible"

        // verzögertes Ausblenden des Overlays
        setTimeout(() => {
            overlay.style.visibility = "hidden"

        }, 800)
    }

    function getNewCountry() {
        return fetch("/worldle/areas/get-country")
            .then(response => response.json())
            .then(data => data)
    }

    // TODO: Fetch first both countries and then insert them (for more synchronous appearance)
    // Lade zu Beginn die ersten Länder
    getNewCountry().then(data => {
        country1 = data.country

        // Aktualisiere die Anzeige
        country1_name.innerText = country1["name.common"]
        country1_area.innerText = country1["area"]

        image1_url = "/static/worldle/data/" + country1["cca3"].toLowerCase() + ".svg"
        image1.src = image1_url

        // Lade das zweite Land 
        getNewCountry().then(data => {
            country2 = data.country

            // Aktualisiere die Anzeige
            country2_name.innerText = country2["name.common"]

            image2_url = "/static/worldle/data/" + country2["cca3"].toLowerCase() + ".svg"
            image2.src = image2_url
        })
    })

</script>

{% endblock content %}