{% extends "components/_base.html" %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/animation.css') }}">
{% endblock %}


{% block content %}

<form id="regionForm">
    <!-- <label for="regionSelect">Choose a region:</label> -->
    <select class="form-select" id="regionSelect" name="region" onchange="selectRandomEntry()">
        <option value="Worldwide">Worldwide</option>
        <option value="Africa">Africa</option>
        <option value="Americas">Americas</option>
        <option value="Antarctic">Antarctic</option>
        <option value="Asia">Asia</option>
        <option value="Europe">Europe</option>
        <option value="Oceania">Oceania</option>
    </select>

    <script>
        // TODO: We write this script, it is not bulletproof
        const validRegions = ["Africa", "Americas", "Antarctic", "Asia", "Europe", "Oceania", "Worldwide"]
        let selectedRegion = localStorage.getItem("selectedRegion")

        if (!selectedRegion || !validRegions.includes(selectedRegion)) {
            selectedRegion = "Worldwide"
            localStorage.setItem("selectedRegion", selectedRegion)  // Default region
        }

        // Überprüfen, ob der Query-Parameter bereits in der URL vorhanden ist
        let queryParams = new URLSearchParams(window.location.search);
        let regionParams = queryParams.getAll("region")

        if (regionParams.length > 1 || !validRegions.includes(regionParams[0])) {
            // Wenn mehr als ein 'region'-Parameter vorhanden ist, behalte nur den ersten
            queryParams.delete("region")

            if (validRegions.includes(regionParams[0])) {
                queryParams.append("region", regionParams[0])
            } else { queryParams.append("region", "Worldwide") }

            // Aktualisiere die URL ohne die zusätzlichen 'region'-Parameter
            window.history.replaceState({}, document.title, window.location.pathname + '?' + queryParams.toString());
        }

        if (selectedRegion) {
            document.getElementById("regionSelect").value = selectedRegion

            if (!queryParams.has('region')) {

                // Wenn nicht vorhanden, füge den Cookie-Wert als Query-Parameter hinzu
                window.location.href = window.location.href + (window.location.href.includes('?') ? '&' : '?') + "region=" + encodeURIComponent(selectedRegion)
            }
        }

        function selectRandomEntry() {
            // Abrufen der ausgewählten Region
            let selectedRegion = document.getElementById("regionSelect").value

            // Speichern des ausgewählten Regionswerts im localStorage
            if (validRegions.includes(selectedRegion)) {
                localStorage.setItem("selectedRegion", selectedRegion)
            }

            // Weiterleitung zur Flask-Route mit dem ausgewählten Region-Parameter
            window.location.href = "?region=" + encodeURIComponent(selectedRegion);
        }
    </script>
</form>


<br>
<br>

<h1 class="mb-4">Capital</h1>

<div class="col-8 mx-auto">
    <div class="text-center">

        <h3>{{ country_data["name.common"] }}</h3>

        <br>

        <img src="{{ url_for('static', filename='worldle/data/' + country_data['cca3']|lower + '.svg') }}"
            class="img-fluid zoom" style="max-width: 45%;">

        <br>
        <br>
        <br>

        <input class="form-control" type="text" id="userAnswer" placeholder="Enter the capital">
        <br>
        <button class="btn btn-primary" onclick="checkAnswer()">Check Answer</button>

        <br>
        <br>
        <br>

        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Show me the solution
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        {{ country_data["capital"] }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    let userAnswer = document.getElementById("userAnswer")
    userAnswer.focus()

    function checkAnswer() {
        let correctAnswer = "{{ country_data['capital'] }}"

        if (userAnswer.value.toLowerCase() === correctAnswer.toLowerCase()) {
            // Correct answer
            userAnswer.classList.remove('is-invalid')
            userAnswer.classList.add('is-valid')

            setTimeout(function () {
                location.reload()
                document.getElementById("userAnswer").value = ""
            }, 1000)

        } else {
            // Wrong answer
            userAnswer.classList.add('is-invalid')
        }
    }

    // Füge einen Eventlistener hinzu, um die Enter-Taste abzufangen
    document.getElementById('userAnswer').addEventListener('keyup', function (event) {
        if (event.key === 'Enter') {
            checkAnswer();
        }
    });

</script>

{% endblock content %}