{% import "macros/cards.html" as cards %}

{% extends "components/_base.html" %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/animation.css') }}">
{% endblock %}


{% block content %}

<h1 class="mb-4">Spielmodi</h1>

{{ cards.row_cards([

{
"title": "Capitals",
"description": "Errate die Hauptstädte",
"button_text": "Zum Spiel",
"image_path": url_for('static', filename='images/Bern_3px.jpg'),
"link": url_for('worldle.default_capitals'),
"disabled": False,
},

{
"title": "Languages",
"description": "Errate die Landessprachen",
"button_text": "Zum Spiel",
"image_path": url_for('static', filename='images/Languages_3px.jpg'),
"link": url_for('worldle.default_languages'),
"disabled": False,
},

{
"title": "Areas",
"description": "Higher Lower mit Landesflächen",
"button_text": "Zum Spiel",
"image_path": url_for('static', filename='images/Languages_3px.jpg'),
"link": url_for('worldle.areas'),
"disabled": False,
},

"Coming soon",

]) }}

{% endblock content %}