{% import "macros/cards.html" as cards %}

{% extends "components/_base.html" %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/animation.css') }}">
{% endblock %}


{% block content %}

<h1>Polybox</h1>

<div class="row my-4 px-3">
    <!-- PolyBox Button -->
    <a class="btn btn-outline-primary" href="https://polybox.ethz.ch/index.php/s/C6EVuKd8eAV9TQS" target="_blank">
        <i class="bi bi-cloud-arrow-up-fill me-md-2"></i>Zur Polybox</a>
</div>

<br>
<!-- <h1 class="mt-5 mb-4">Übungsstunden</h1> -->

{{ cards.row_cards([

{
"title": "Technische Mechanik 2023",
"description": "Übungsbetrieb und wichtige Unterlagen",
"button_text": "Zu den Unterlagen",
"image_path": url_for('static', filename='images/technische_mechanik_6px.jpg'),
"link": url_for('main.technische_mechanik', semester='HS23'),
"disabled": False,
},

{
"title": "Physik I 2024",
"description": "Übungsbetrieb und wichtige Unterlagen",
"button_text": "Zu den Unterlagen",
"image_path": url_for('static', filename='images/physik1_2px.jpg'),
"link": "#",
"disabled": False,
},

{
"title": "Informatik I 2024",
"description": "Übungsbetrieb und wichtige Unterlagen",
"button_text": "Zu den Unterlagen",
"image_path": url_for('static', filename='images/informatik1_3px.jpg'),
"link": "#",
"disabled": False,
},

{
"title": "Worldle",
"description": "Verschiedene Länderquizzes",
"button_text": "Zu den Spielmodi",
"image_path": url_for('static', filename='images/Earth_2px.jpg'),
"link": url_for('worldle.home'),
"disabled": False,
},

]) }}

{% endblock content %}