::-moz-selection {
    /* Code for Firefox */
    background: #4a525b;
    color: white;
}

::selection {
    background: #4a525b;
    color: white;
}

body {
    font-family: 'Roboto Serif', 'Roboto', Arial, Helvetica, serif;
}

a {
    color: white;
    text-decoration: none;
}

nav {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}
