<!-- Navbar -->
<nav class="navbar navbar-expand-lg fs-5 fixed-top bg-body-tertiary mb-5" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand fs-4" href="{{ url_for('main.home') }}">Enzo Baraldi</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <!-- <span class="navbar-toggler-icon" data-bs-theme="dark"></span> -->
            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-list"
                viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
            </svg>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item ms-3">
                    <a class="nav-link" aria-current="page" href="{{ url_for('main.home') }}">Home</a>
                </li>

                <li class="nav-item ms-3">
                    <a class="nav-link" href="{{ url_for('main.technische_mechanik', semester='HS23') }}">
                        Technische Mechanik
                    </a>
                </li>

                <li class="nav-item ms-3">
                    <a class="nav-link" href="{{ url_for('worldle.home') }}">
                        Worldle
                    </a>
                </li>

            </ul>

        </div>
    </div>
</nav>